@model BookManager.Models.Book

@{
    ViewBag.Title = "Delete";
}

<h2>xóa sách</h2>

<h3>Bạn có chắc bạn muốn xóa cái này không?</h3>
<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TacGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TacGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NXB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NXB)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="xóa sách" class="btn btn-default" /> |
            @Html.ActionLink("quay lại danh sách", "Index")
        </div>
    }
</div>
