@model IEnumerable<BookManager.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>danh sách</h2>
@using (Html.BeginForm())
            {
                <p>
                    tìm sách : @Html.TextBox("searchString")
                    <input type="submit" value="tìm" />
                </p>
            }    

<p>
    @Html.ActionLink("thêm sách mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenSach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TacGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NXB)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenSach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TacGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NXB)
        </td>
        <td>
            @Html.ActionLink("sửa", "Edit", new { id=item.ID }) |
            @Html.ActionLink("chi tiết", "Details", new { id=item.ID }) |
            @Html.ActionLink("xóa", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
