@model baitap17.Models.ProductVariant

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductVariant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScreenSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScreenSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ram)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Storage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Storage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cpu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.SanPhamId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VariantId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
